.el-button--purple {
  color: #FFF;
  background-color: #A6A3FB;
  border-color: #A6A3FB;
}
.el-button--purple:hover {
  color: #FFF;
  border-color: rgba(190, 188, 252, 0.938);
  background-color: #bebcfc;
}
.clearfix {
  font-size: 11px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.ff3 {
  color: #FF318A !important;
}
.ffc {
  color: #FFCE26 !important;
}
.el-button--text {
  color: #A6A3FB;
}
.el-button--text:hover {
  color: #A6A3FB;
}
.el-button--primary {
  color: #FFF;
  background-color: #A6A3FB;
  border-color: #A6A3FB;
}
.el-button--primary:hover {
  color: #FFF;
  border-color: rgba(190, 188, 252, 0.938);
  background-color: #bebcfc;
}
.el-button--primary:active {
  color: #FFF;
  border-color: rgba(190, 188, 252, 0.938);
  background-color: #bebcfc;
}
.el-button--primary:focus {
  border-color: rgba(190, 188, 252, 0.938);
  background-color: #bebcfc;
}
.el-button--default {
  border-color: #A6A3FB;
}
.el-tabs__active-bar {
  background-color: #A6A3FB;
}
.el-tabs__item.is-active {
  color: #A6A0FB;
}
.el-tabs__item:hover {
  color: #A6A0FB;
}
.el-dialog__header {
  text-align: left;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  *zoom: 1;
}
.search-card {
  margin-bottom: 25px;
}
.el-main {
  background-color: #F0F1F6;
}
.el-tabs__header {
  background-color: #FFFFFF;
  margin: 0;
}
.el-tabs__nav-scroll {
  padding: 0 20px;
}
